.date-container {
    font-family: 'Quattrocento', serif;
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    height: 30px;
    margin: 0.5em 4.5em;
}

.nav-prev img,
.nav-next img {
    width: 100%;
}

.nav-prev:hover,
.nav-next:hover {
    cursor: pointer;
}

.date-field {
    text-align: center;
    margin: 0;
    line-height: 30px;
}

.date-field:hover {
    cursor: pointer;
    text-decoration: underline;
}

@media only screen and (min-width: 768px) {
    .date-container {
        margin: 0.5em 30%;
    }
}